div-class {
	border-top: 2px;
	border-right: 2px;
	border-bottom: 2px;
	border-left: 2px;
	border-color: gray;
  }
  selector {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left:10px;
